body {
  margin: 0;
  padding: 0;
  background-color: #dbdbdb;
  font-family: 'Segoe UI', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5vh;
}

canvas {
  border: 5px solid #333;
  border-radius: 50%;
  margin-bottom: 20px;
}

button {
  padding: 3vh 20vh;
  font-size: 48px;
  background-color: #0078d4;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}

#resultado {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  font-size: 38px;
  text-align: center;
}
